@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    background-color: #fff;
    color: hsl(0, 0%, 23%); 
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    max-width: 100vw;
    height: 100vh;
}

h1, h2 {
    letter-spacing: 0.1rem;
    text-align: center;
    text-transform: uppercase;
}

h1 {
    color: #83818B;
    font-size: 1.2rem;
}

h2 {
    font-size: 1.1rem;
}

header {
    margin: auto;
    border-bottom: 1px solid #cdcdcd;
    padding: 0.9rem 0.5rem;
    height: 80px;
}

.hamburger-menu{
     height: 10px;
}

.menu-description {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    color: #f1a69b;
    margin-bottom: 0.3rem;
}

.title-chat {
    display: inline;
    margin-left: 8.8rem;
    font-weight: 700;
    color: #ff6347;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgb(218, 218, 218);
    margin-left: 2rem;
    float: left;
}

.conversation img {
    display: inline;
}

.conversation h2 {
    display: inline;
    vertical-align: top;
    text-decoration: none;
}

.conversation {
    height: 80px;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #ddd;
    background-color: rgb(252, 252, 252);
}

.message-details {
    float: left;
    margin-left: 2rem;

}

main {
    margin: auto;
    clear: both;
}

.read-message {
    font-size: 2rem;
    float: right;
    margin-right: 2rem;
    vertical-align: top;
    color: tomato;
    font-weight: 200;
}


/*   HAMBURGER  */
 
 a {
   text-decoration: none;
   color: #232323;
   transition: color 0.3s ease;
 }
 
 a:hover {
   color: tomato;
 }
 
 #menuToggle {
   display: block;
   position: relative;
   left: 15px;
   
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #f1a69b;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #fff;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   width: 200px;
   height: 100vh;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: #f1a69b;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
   color: #fff;
   font-weight: 700;
   margin-bottom: 1.5rem;
  
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }

 footer {
     clear: both;
 }

.footer li {
    height: 30px;
    width: 33.33%;
    background-color: pink;
    float: left;
    text-decoration: none;

}